<a class="leaflet-control-layers-toggle" href="#"></a>
<form class="leaflet-control-layers-list">
  <div id="basemap-layer-control" class="leaflet-control-layers-base">
    {{#each imageryProviders}}
      <label>
        <input value="{{@index}}" type="radio" class="basemap-layer leaflet-control-layers-selector" name="leaflet-base-layers"
        {{#if @first}}checked="checked">{{/if}}
        <span> {{this.name}}</span>
      </label>
    {{/each}}
  </div>
  <div id="state-layer-control">
    <div class="leaflet-control-layers-separator"></div>
    <div class="leaflet-control-layers-overlays">
        <label><input id="state-boundary-layer" type="checkbox" checked class="leaflet-control-layers-selector">
        <span> State Boundary </span>
        </label>
    </div>
  </div>
  <div id="forestland-layer-control">
    <div class="leaflet-control-layers-overlays">
        <label><input id="state-forestland-layer" type="checkbox" class="leaflet-control-layers-selector">
        <span> State Forest Land </span><span class="overlay-legend-item" style="background: #228B22;"></span>
        </label>
    </div>
  </div>
  <div id="overlay-layer-control">
    <div class="leaflet-control-layers-separator"></div>
    <div class="leaflet-control-layers-overlays">
      {{#each overlayImageryProviders}}
        <label><input value="{{@index}}" type="checkbox" class="overlay-layer leaflet-control-layers-selector">
        <span> {{{this.name}}} </span>{{{this.legendSpan}}}
        </label>
      {{/each}}
    </div>
  </div>
</form>
