<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Threat information update</h4>
      <p>Enter threat information below...</p>
    </div>
    <div class="modal-body">
      <div class="well">
          <div>
            <ul class="nav nav-tabs">
              <li class="active"><a class="small" id="trackInfoTab" href="#track-info-tab" data-toggle="tab">Info</a></li>
            </ul>
          </div>
          <div class ="well well-sm">
            <div id="trackInfoTabContent" class="tab-content">
              <div class="tab-pane active in" id="track-info-tab">

                <form id="wthreatsUpdateModalForm" class="form-horizontal" role="form">
                  <div class="form-group has-feedback">
                    <label class="control-label col-sm-3">Threat name</label>
                    <div class="col-sm-9">
                      <input type="text" maxLength="200" id="threat-name" value="{{threatsItem.properties.threatName}}" placeholder="Enter threat name" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3">Threat type</label>
                    <div class="col-sm-4">
                      <select class="form-control" id="threat-type">
                        {{#each threatSelect}}
                        <option value={{@key}} {{#if selected}}selected{{/if}}>{{legend}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <label class="control-label col-sm-3">Threat description</label>
                    <div class="col-sm-9">
                      <textarea maxLength="5000" id="threat-description" rows="5" placeholder="Enter threat description" class="form-control" style="resize: vertical;">{{threatsItem.properties.threatDescription}}</textarea>
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <label class="control-label col-sm-3">Location (lat, lon, height)</label>
                    <div class="col-sm-3">
                      <input type="number" min="41" max="47" step="0.1" value="{{threatsItem.geometry.coordinates.[1]}}" id="threat-lat" placeholder="Lat" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="col-sm-3">
                      <input type="number"  min="-125" max="-116" step="0.1" value="{{threatsItem.geometry.coordinates.[0]}}" id="threat-lon" placeholder="Lon" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <label class="control-label col-sm-3">Image link</label>
                    <div class="col-sm-9">
                      <input type="url" maxLength="200" id="threat-img-url" value="{{threatsItem.properties.threatImgUrl}}" placeholder="Enter image link URL" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <label class="control-label col-sm-3">Image credits</label>
                    <div class="col-sm-9">
                      <input type="text" maxLength="200" id="threat-img-credit" value="{{threatsItem.properties.threatImgCredit}}" placeholder="Enter image credits" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <label class="control-label col-sm-3">Information links</label>
                    <div class="col-sm-9">
                      <input type="url" maxLength="200" id="threat-info-url-1" value="{{threatsItem.properties.threatUrlReferences.[0].url}}" placeholder="Enter information link URL" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                      <input type="url" maxLength="200" id="threat-info-url-title-1" value="{{threatsItem.properties.threatUrlReferences.[0].urlTitle}}" placeholder="Enter information link URL title" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                      <input type="url" maxLength="200" id="threat-info-url-2" value="{{threatsItem.properties.threatUrlReferences.[1].url}}" placeholder="Enter information link URL" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group has-feedback">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                      <input type="url" maxLength="200" id="threat-info-url-title-2" value="{{threatsItem.properties.threatUrlReferences.[1].urlTitle}}" placeholder="Enter information link URL title" class="form-control">
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div id="threat-remove-form-group" class="form-group">
                    <label class="control-label col-sm-3">Remove threat item?</label>
                    <div class="checkbox col-sm-9"><label><input id="threat-remove" type="checkbox"> Select to remove threat item from the list</label></div>
                  </div>
                  <div class="alert alert-danger" id="wthreatUpdateError" role="alert" style="display: none">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span id="wthreatUpdateErrorText"></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="alert alert-warning msg-with-spinner" id="uploadingMessage" role="alert" style="display: none">
            <div id="uploadSpinner"></div>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            Uploading...
          </div>
          <div class="alert alert-warning" id="uploadMessage" role="alert" style="display: none">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            Document uploaded.
          </div>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button id="commitButton" href="" class="btn btn-default">Commit</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
