<div id="infoBoxContent">
  <div id="infoBoxTitle">
    <b>{{threatName}}</b>
  </div>
  <div class="hline"></div>
  {{#if threatImgUrl}}
  <div id="wthreatImageContainer">
    <a class="wthreat-photo" href="{{threatImgUrl}}" title="Image by {{threatImgCredit}}">
  	   <img src="{{threatImgUrl}}" width="100%" max-height="100px">
    </a>
    <div style="text-align:right; font-size:x-small">Image by {{threatImgCredit}}</div>
  </div>
  {{/if}}
  <div id="infoBoxItems">
    <b>Threat Type:</b> {{threatType}}<br><br>
    <b>Threat Summary:</b> {{threatDescription}}
    <div class="hline"></div>
    <b>Information Links:</b><br>
    {{#each threatUrlReferences}}
    <a href={{this.url}} target="_blank">{{this.urlTitle}}</a><br>
    {{/each}}
  </div>
</div>
