<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>Recent Wildfire Perimeters</b></div>
  <div><small>(Click on a marker to view wildfire perimeter)</small></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">A note on this Spotlight</div>
    <div class="legend-entry" style="margin: 4px;">
    Data for this Spotlight is periodically extracted from <a href="https://www.geomac.gov/">GeoMAC</a>. The data is collected using several methods such as incident reports, GPS data, and infrared images. Locations and perimeters are approximate, furthermore, GeoMAC data exists for information purposes only and do not represent 'official' incident location and perimeters.
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Select Year</div>
    <div class="legend-entry">
      {{#each fireYears}}
      <input class="fire-year" name="fire-year" value="{{this.year}}" type="radio"{{#if this.selected}} checked{{else}}{{#unless @index}} checked{{/unless}}{{/if}}> {{this.label}} &nbsp
      {{/each}}
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title"><span id="firesListed"></span> wildfires listed</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <ul class="v-legend-items">
        {{#each listOfFires}}
        <li style="display: none;" class="v-legend-item-sel rcwildfires-list-item" data-fireYear="{{this.fireYear}}" data-fireFileName="{{this.fireFileName}}">{{this.fireName}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="infoPanelCredit">Only fires of at least 1,000 acres are shown</div>
  <div class="infoPanelCredit">Data Source: <a href="https://www.geomac.gov/" target="_blank">GeoMAC</a></div>
</div>
