<b>Ignition Date: </b>{{ignitionDate}}<br>
<b>Total Fire Acres: </b>{{acres}}<br>
<b>Forest Acres: </b>{{forestAcres}}<br>
<div class="hline"></div>
<div style="text-align: center;"><b>Acreage of Burn Severity</b></div>
<div class="v-legend-scale">
  <ul class="v-legend-items">
    <li><span class="hidden-legend-item" style="background:#FF0000;"></span><b> High: </b>{{severityHighAcres}}</li>
    <li><span class="hidden-legend-item" style="background:#FFFF00;"></span><b> Moderate: </b>{{severityModerateAcres}}</li>
    <li><span class="hidden-legend-item" style="background:#79FFD3;"></span><b> Low: </b>{{severityLowAcres}}</li>
    <li><span class="hidden-legend-item" style="background:#006500;"></span><b> Unburned: </b>{{severityUnburnedAcres}}</li>
    <li><span class="hidden-legend-item" style="background:#7AFF00;"></span><b> Increased Greeness: </b>{{severityIncreasedGreenesAcres}}</li>
    <li><span class="hidden-legend-item" style="background:#FFFFFF;"></span><b> Not Assessed: </b>{{nonProcessingMaskAcres}}</li>
  </ul>
</div>
