<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>Proposed Wilderness Areas</b></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Ecoregions</div>
    <div class="v-legend-scale">
      <ul class="v-legend-items">
        <li><span style="background:#FF0000;"></span><b> High: </b>{{severityHighAcres}} ({{severityHighPercent}})</li>
        <li><span style="background:#FFFF00;"></span><b> Moderate: </b>{{severityModerateAcres}} ({{severityModeratePercent}})</li>
        <li><span style="background:#79FFD3;"></span><b> Low: </b>{{severityLowAcres}} ({{severityLowPercent}})</li>
        <li><span style="background:#006500;"></span><b> Unburned: </b>{{severityUnburnedAcres}} ({{severityUnburnedPercent}})</li>
        <li><span style="background:#7AFF00;"></span><b> Increased Greeness: </b>{{severityIncreasedGreenesAcres}} ({{severityIncreasedGreenesPercent}})</li>
        <li><span style="background:#FFFFFF;"></span><b> Not Assessed: </b>{{nonProcessingMaskAcres}} ({{nonProcessingMaskPercent}})</li>
      </ul>
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Wilderness Areas</div>
  </div>
  <div id="infoPanelCredit">Data Source: <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a></div>
</div>
