<div id="infoPanelContent">
  <div id="infoPanelTitle"><a href="#"><b>Potential Forest Wilderness Areas</b></a></div>
  <div><small>(Click on link above to view ecoregions)</small></div>
  <div><small>(Click on a map shape to view unit info)</small></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Ecoregion</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <div class="v-legend-scale">
        <ul class="v-legend-items">
          <li><span class="boundary-legend-item"></span><b> Ecoregion Boundary</b></li>
          <li><span class="legend-item" style="background:{{singleLabel.color}};"></span><b> {{singleLabel.label}}</b></li>
          <li><span class="legend-item"></span> ({{singleLabel.acres}} Acres, {{singleLabel.percent}})</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="transparencyLegend" class="legend-box">
    <div class="legend-title">Transparency</div>
    <div style="margin: 4px;"><input id="infoPanelTransparency" type="range" min="0" max="100" value="100" /></div>
    <div class="legend-explanation">Move the slider to adjust transparency</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">{{units.length}} Units</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <ul class="v-legend-items">
        {{#each units}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="infoPanelCredit">Data Source: <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a></div>
</div>
