<div class="container-fluid">
  <div class="row navbar-inverse">
    <div id="homeLogo"><img id="homeLogoImage" src="../../../images/howlmoongray.svg"></img></div>
  </div>
  <div class="row" style="background-color: #F0F0F0;">
    <div style="margin: 10px;">
      <h3>Highlighting Oregon's WildLands</h3>
      <p style="font-size: 130%; font-weight: 300">Oregon is a wonderful state. It is beautiful and it is wild. Mountains, ancient forests, clear waters and wildlife. But most of Oregon's incredible wildlands are not protected, and therefore are in serious danger of irreparable destruction. The purpose of this site is to raise awareness of Oregon's wildlands through selected 3D map-based 'spotlights.' This site will be updated and new 'spotlights' will be added over time, so be sure to check back every now and then to see what's going on.</p>
    </div>
  </div>
  <div id="noWebGLMessage" class="row" style="display: none; font-size: 130%; background-color: #F0E68C;">
    <br>Unfortunately your browser does not support WebGL graphics. Therefore, the spotlights below are not available for viewing.
    <br><br>
  </div>
  <div class="row spacer"></div>
  <div class="row">
    <h4>SPOTLIGHTS</h4>
  </div>
  <div style="text-align: left;" class="modal fade" id="aboutModalHome" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true"></div> <!-- modal -->
</div>
<div class="container-fluid" style="height: 90%; y-overflow: scroll;">
  <div class="row">
    <div class="grid">
      <div class="grid-sizer"></div>
      {{#each views}}
      <div class="grid-item">
        <div class="panel panel-default">
          <a class="homeViewLinkItem" view="{{this.name}}" href="#">
            <img class="img-responsive img-hover-effect" style="padding: 5px;" src="{{this.image}}" alt="">
          </a>
          <div style="font-size: 70%; margin-top: -5px;">{{{this.imageCredit}}}</div>
          <div class="panel-footer text-center">
            {{this.title}}
          </div>
          <div class="panel-caption text-center">
            {{this.summary}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row spacer"></div>
  <div class="row navbar-inverse" style="margin: 0 auto;">
    <div class="row spacer"></div>
    <h4 class="nav" style="color: white;">
      <a href="#" title="Share on Twitter" class="home-button btn-twitter">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a>
      <a href="#" title="Share on Facebook" class="home-button btn-facebook">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </a>
    </h4>
    <br>
    <small style="color: #9D9D9D;"><a id="about-btn-home" class="home-button" href="#">HOWL {{{version}}}</a> • Made for <a class="home-button" target="_blank" href="http://oregonwild.org/">Oregon Wild</a></small>
  </div>
</div>
